@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Geist", sans-serif;
  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, monospace;

  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
  --animate-marquee-left: marquee-left var(--duration, 30s) linear infinite;
  --animate-marquee-right: marquee-right var(--duration, 30s) linear infinite;

  @keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }

  @keyframes marquee-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-right {
    from {
      transform: translateX(calc(-100% - var(--gap)));
    }
    to {
      transform: translateX(0);
    }
  }
}

:root {
  --color-1: 210 100% 60%;
  --color-2: 50 100% 55%;
  --color-3: 190 100% 55%;
  --color-4: 40 100% 60%;
  --color-5: 220 100% 60%;
}
